@import "compass/css3";
section#content {
    .slide {
        left: 0;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: -webkit-transform 400ms ease-in-out;
        -moz-transition: -webkit-transform 400ms ease-in-out;
        -ms-transition: -webkit-transform 400ms ease-in-out;
        transition: -webkit-transform 400ms ease-in-out;
        &.open {
            @include transform(translate3d(150px, 0, 0));
        }
        nav{
            position:absolute;
            &>a {
                -webkit-transition: -webkit-transform 400ms ease-in-out;
                -moz-transition: -moz-transform 400ms ease-in-out;
                -ms-transition: -ms-transform 400ms ease-in-out;
                transition: transform 400ms ease-in-out;
                position:relative;
                z-index:2;
                left:0;
                right:2px;
                width:99%;
            }
            .sub {
                position:absolute;
                display:block;
                opacity:0;
                height:auto;
                z-index:1;
                left:0;
                right:2px;
                pointer-events:none;
                -webkit-transition: opacity 400ms ease-in-out 100ms;
                -moz-transition: opacity 400ms ease-in-out 100ms;
                -ms-transition: opacity 400ms ease-in-out 100ms;
                transition: opacity 400ms ease-in-out 100ms;
                &.open {
                    opacity:1;
                    pointer-events:auto;
                }
            }
        }
    }
}