/* line 3, ../../src/sass/accel.scss */
section#content .slide {
  left: 0;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: -moz-transform 400ms ease-in-out;
  -o-transition: -o-transform 400ms ease-in-out;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
}
/* line 7, ../../src/sass/accel.scss */
section#content .slide.open {
  -moz-transform: translate3d(150px, 0, 0);
  -ms-transform: translate3d(150px, 0, 0);
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate3d(150px, 0, 0);
}
/* line 11, ../../src/sass/accel.scss */
section#content .slide nav > a {
  -moz-transition: -moz-transform 400ms ease-in-out;
  -o-transition: -o-transform 400ms ease-in-out;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  position: relative;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
}
/* line 19, ../../src/sass/accel.scss */
section#content .slide nav .sub {
  position: absolute;
  display: block;
  opacity: 0;
  height: auto;
  z-index: 1;
  left: 0;
  right: 0;
  pointer-events: none;
  -moz-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
/* line 29, ../../src/sass/accel.scss */
section#content .slide nav .sub.open {
  opacity: 1;
  pointer-events: auto;
}
