/* line 2, ../../src/sass/css3.scss */
section#content .slide {
  left: 0;
  -moz-transition: left 400ms ease-in-out;
  -o-transition: left 400ms ease-in-out;
  -webkit-transition: left 400ms ease-in-out;
  transition: left 400ms ease-in-out;
}

/* line 6, ../../src/sass/css3.scss */
section#content .slide.open {
  left: 150px;
}

/* line 9, ../../src/sass/css3.scss */
ul.sub {
  -moz-transition: height 400ms ease-in-out;
  -o-transition: height 400ms ease-in-out;
  -webkit-transition: height 400ms ease-in-out;
  transition: height 400ms ease-in-out;
  height: 0;
}
